@media screen and (max-width: 480px) {
    .cards {
        width: 343px;
        margin: 32px auto;
        flex-wrap: wrap;
        gap: 32px;
    }
    .card {
        width: 343px;
        height: 220px;
    }
    img{
        width: 128px;
        height: 128px;
    }
    h3{
        margin: 16px 0 8px 0;
    }

}