body{
    background-image: url("img/bat_.webp");
    background-size: cover;
    background-attachment: fixed;
}

p{
    background: rgba(255, 255, 255, 0.58);
    width: 340px;
    margin: 40px 40px 40px 90px;
    color: #16004e;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;

}

h1{
    color: #fdf1ff;
    margin-left: 28%;
    margin-bottom: 40px;
    margin-top: 50px;
}

img{
    width: 300px;
    height: 400px;
    margin: 20px;
    objekt-fit: cover;
}

span{
    display: inline-block;
}